* {
    background-color: #2D2D2D;
}

.first-page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 7.5% 0 auto 0;
}

.first-page-score-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3.5% 0 2.5% 0;
}

.title {
    color: #FF0000;
    font-weight: 400;
    font-size: 82px;
    font-family: 'Handlee', cursive;
}

.first-page-text {
    color: #FFFFFF;
    font-size: 64px;
    font-family: 'Handlee', cursive;
    margin: 2.5% 0 2.5% 0;
}

.start-button {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 400;
    font-family: 'Handlee', cursive;
    text-decoration: none;
    position: absolute;
    margin: -110px 0 0 -60px;
}

.challenge-page-container {
    display: flex;
    flex-direction: row;
}

.challenge-page-score-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.person-icon {
    padding: 2.5% 2.5%;
}

.challenge-page-text {
    color: #FFFFFF;
    font-size: 48px;
    font-family: 'Handlee', cursive;
}

.deneme {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.deneme2 {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}